{% load thumbnail %}
<div class="well text-right item" style="background: white url({% thumbnail volume.cover 80x120 crop %}) top left no-repeat;">
    <div class="content">
        <a href="{{ volume.series.get_absolute_url }}" data-pjax>
            <h4 class="media-heading">{{ volume }}</h4>
        </a>
        <p>
            <a href="{{ volume.publisher.get_absolute_url }}" data-pjax>{{ volume.publisher }}</a><br />
            {% if volume.collection and not volume.collection.default %}
            <span class="label label-primary">{{ volume.collection.name }}</span><br />
            {% endif %}
            {{ volume.release_date|date:'F Y' }}
        </p>
    </div>
    <div class="clearfix"></div>
</div>
