{% load i18n thumbnail %}
<div class="well text-center volume-item {% if volume.pk in user_have_volumes %}user-have-it{% endif %}">
    <div class="badges">
        {% if volume.pk in user_have_volumes %}
        <a href="{% url "volume.have_it" volume.pk %}" data-pjax="v{{ volume.pk }}" pjax-nopush pjax-messages>
            <span class="badge badge-success">
                <i class="glyphicon glyphicon-ok"></i>
            </span>
        </a>
        {% else %}
        <a href="{% url "volume.have_it" volume.pk %}" data-pjax="v{{ volume.pk }}" pjax-nopush pjax-messages>
            <span class="badge">
                <i class="glyphicon glyphicon-ok"></i>
            </span>
        </a>
        <a href="{% url "volume.wishlist" volume.pk %}" data-pjax="v{{ volume.pk }}" pjax-messages pjax-nopush>
            <span class="badge {% if volume.pk in user_wishlisted_volumes %}badge-warning{% endif %}">
                <i class="glyphicon glyphicon-star"></i>
            </span>
        </a>
        {% endif %}
    </div>
    <div class="text-center">
        {% if volume.number %}
        <div><strong>#{{ volume.number }}</strong></div>
        {% endif %}
        {% if volume.name %}
        <div><strong>{{ volume.name }}</strong></div>
        {% endif %}
        <img src="{% thumbnail volume.cover 150x150 %}" class="max-width-80" />
    </div>
</div>
