{% extends 'users/profile.html'|pjax:request %}
{% load i18n %}

{% block page_title %}{{ block.super }} | {% trans "Collection" %}{% endblock %}

{% block profile_content %}
<div class="row">
    {% for owned_volume in item.have_volumes.all %}
    <div class="col-sm-3" data-pjax-container="v{{ owned_volume.volume.pk }}">
        {% include "manga/series/includes/volume.html" with volume=owned_volume.volume user=item %}
    </div>
    {% if forloop.counter|divisibleby:4 %}
    </div>
    <div class="row">
    {% endif %}
    {% endfor %}
</div>
{% endblock %}
