{% comment %}
{% extends 'users/profile.html'|pjax:request %}
{% load i18n %}

{% block page_title %}{{ block.super }}{% endblock %}
{% endcomment %}

{% block profile_content %}
<div class="well">
    <p>Interesting. No, wait, the other thing: tedious. What are you hacking off? Is it my torso?! 'It is!' My precious torso! Yes, if you make it look like an electrical fire. When you do things right, people won't be sure you've done anything at all. Take me to your leader! Ven ve voke up, ve had zese wodies.</p>
</div>
{% endblock %}
