{% extends 'users/profile.html'|pjax:request %}
{% load i18n %}

{% block page_title %}{{ block.super }} | {% trans "Wishlist" %}{% endblock %}

{% block profile_content %}
<div class="row">
    {% for wishlisted_volume in item.wishlisted_volumes.all %}
    <div class="col-sm-4">
        {% include "manga/series/includes/volume.html" with volume=wishlisted_volume.volume user=item show_publisher=True %}
    </div>
    {% if forloop.counter|divisibleby:3 %}
    </div>
    <div class="row">
    {% endif %}
    {% endfor %}
</div>
{% endblock %}
