# Front
node_modules

# Python
*.pyc
.virtualenv*
.tox

# OS X
.DS_Store

# Local
db.sqlite3

# Themes
# Bootflat
shelfzilla/themes/bootflat/static/css/*.css
shelfzilla/themes/bootflat/static/bower/*
**/CACHE/*

# Bower
bower_components
static_components

# Media
shelfzilla/media*

# i18n
django.pot

# Fixtures
fixtures/

tmp/
