{% extends '_layout.html'|pjax:request %}
{% load i18n thumbnail %}

{% block page_title %}{{ block.super }} | {{ item.name }}{% endblock %}

{% block main_content %}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-primary">
                <ul class="list-group">
                    {% if item.for_review and user.is_staff %}
                    <a class="list-group-item list-group-item-warning text-center">
                        {% trans "Requires review" %}
                    </a>
                    {% endif %}
                    <li class="list-group-item">
                        <strong>{% trans "Series" %}</strong>: {{ item.series.count }}
                    </li>
                    <li class="list-group-item">
                        <strong>{% trans "Volumes" %}</strong>: {{ item.volumes.count }}
                    </li>
                    {% if item.url %}
                    <li class="list-group-item text-center">
                        <a href="{{ item.url }}" target="_blank"><i class="glyphicon glyphicon-home"></i> {% trans "Homepage" %}</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="col-md-9">
           <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1 class="panel-title panel-title-alt text-center">{{ item.name }}</h1>
                </div>
            </div>
            <div class="series-list">
                <div class="row">
                    {% for series in item.series %}
                    <div class="col-sm-3">
                        <div class="well text-center">
                            {% if series.for_review and user.is_staff %}
                            <span class="label label-warning">{% trans "Requires review" %}</span>
                            {% endif %}
                            <h4><a href="{% url 'series.detail' series.pk series.slug %}">{{ series.name }}</a></h4>
                            <img class="volume-cover" src="{% thumbnail series.last_volume_cover 200x200 %}" />
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:4 %}
                    </div>
                    <div class="row">
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
