// jquery vegas, background with opacity, not overlaying
.vegas-background {
    opacity: .2;
    z-index: -200;
}

// bootstrap navbar, margin-top
.navbar {
    margin-top: 20px;
}

* > p:last-child {
    margin-bottom: 0 !important;
}
