body {
    background-color: rgb(241, 242, 246);
}

/* Login panel */
.panel-login {
    @height: 180px;
    @width: 300px;

    left: 50%;
    margin: 0 auto;
    margin-left: @width/2*-1px;
    margin-top: @height/2*-1px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 300px;
}

/* Alternative behaviours for bootstrap */
.panel-title-alt {
    font-size: 1.75em !important;
    font-weight: bold;
}

.max-width-80 { max-width: 80%; }
