/* Login panel */
.panel-login {
    @height: 180px;
    @width: 300px;

    left: 50%;
    margin: 0 auto;
    margin-left: @width/2*-1px;
    margin-top: @height/2*-1px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 300px;
}
