{% load i18n %}

{% if original %}
<a class="btn btn-info pull-right" href="{% url "admin:manga_volume_add" %}?series={{ original.pk }}">{% trans "Add" %} {% trans "Volume" %}</a>
<br />
<br />
<table class="table table-striped table-bordered table-hover table-condensed">
<thead>
    <th>&nbsp;</th>
    <th>Publisher</th>
    <th>Admin</th>
</thead>
<tbody>
    {% for volume in original.volumes.all %}
    <tr>
        <td>{{ volume }}</td>
        <td>{{ volume.publisher }}</td>
        <td><a href="/admin/manga/volume/{{ volume.pk }}/">{% trans "Edit" %}</a>
    </tr>
    {% endfor %}
</tbody>
</table>
{% endif %}
