# Base
Django==1.7.1

# Admin
django-suit==0.2.11
django-reversion==1.8.5
django-solo==1.1.0
django-import-export==0.2.6

# Fixes

# Statics
django-compressor==1.4

# DDBB
dj-database-url==0.3.0
psycopg2==2.5.4

# Files
django-filer==0.9.8

# Blog
django-ckeditor-updated==4.4.4
