# Base
Django==1.6.2
South==0.8.4

# Admin
django-suit==0.2.6
django-reversion==1.8.0
django-solo==1.0.4

# Fixes
longerusername==0.4

# DDBB
dj-database-url==0.3.0
psycopg2==2.5.2

# Files
django-filer==0.9.5
