{% extends "_layout.html" %}
{% load i18n thumbnail %}

{% block main_content %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1 class="panel-title panel-title-alt text-center">{{ item.name }}</h1>
                </div>
                {% if item.cover %}
                <div class="panel-body text-center">
                    <img src="{{ item.cover.url }}" class="max-width-80" />
                </div>
                {% endif %}
                <!-- <ul class="list-group">
                    <li class="list-group-item">Detail 1</li>
                    <li class="list-group-item">Detail 2</li>
                    <li class="list-group-item">Detail 3</li>
                </ul> -->
            </div>
            {% if item.publishers %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title text-center">{% trans "Publishers" %}</h2>
                </div>
                <ul class="list-group">
                    {% for publisher in item.publishers %}
                    <li class="list-group-item">
                        <a href="{% if publisher.url %}{{ publisher.url }}{% else %}#{% endif %}" target="_blank">{{ publisher.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
        <div class="col-md-8">
            {% if item.summary %}
            <div class="well">
                {{ item.summary|linebreaks }}
            </div>
            {% endif %}
            <div class="row">
                {% for volume in item.volumes.all %}
                <div class="col-sm-3">
                    <div class="well text-center volume-item user-have-it">
                        <div class="badges">
                            <span class="badge badge-success">
                                <i class="glyphicon glyphicon-ok"></i>
                            </span>
                            <span class="badge badge-warning">
                                <i class="glyphicon glyphicon-star"></i>
                            </span>
                        </div>
                        <div class="text-center">
                            <div><strong>{% trans "Volume" %} {{ volume.number }}</strong></div>
                            <img src="{% thumbnail volume.cover 150x150 %}" class="max-width-80" />
                            <button class="btn btn-primary btn-xs">{% trans "Details" %}</button>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% for volume in item.volumes.all %}
                <div class="col-sm-3">
                    <div class="well text-center volume-item">
                        <div class="badges">
                            <span class="badge">
                                <i class="glyphicon glyphicon-ok"></i>
                            </span>
                            <span class="badge">
                                <i class="glyphicon glyphicon-star"></i>
                            </span>
                        </div>
                        <div class="text-center">
                            <div><strong>{% trans "Volume" %} {{ volume.number }}</strong></div>
                            <img src="{% thumbnail volume.cover 150x150 %}" class="max-width-80" />
                            <button class="btn btn-primary btn-xs">{% trans "Details" %}</button>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
