{% extends "admin/change_form.html" %}

{% block after_field_sets %}
<script type="text/javascript">
$(function() {
    var removeSlashesOnPaste = function(event) {
        var data = event.clipboardData.getData("text");
        var newData = data.split('-').join('');
        event.target.value = newData;
    };
    document.getElementById('id_isbn_13').addEventListener('paste', removeSlashesOnPaste);
    document.getElementById('id_isbn_10').addEventListener('paste', removeSlashesOnPaste);
});
</script>
{% endblock %}
