<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/css/style.css" />
    {% block extra_css %}{% endblock %}
    <title>{% block page_title %}Shelfzilla{% endblock %}</title>
</head>
<body>

    {% block messages %}
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endblock %}

    {% block main_content %}{% endblock %}
    {% block extra_js %}{% endblock %}
    <script src="/static/js/site.js"></script>
</body>
</html>
